* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.page {
    padding-left: 205px;
    padding-right: 205px;
}

.header {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.navigation__list {
    display: flex;
    gap: 24px;
}

.navigation__link {
    font-size: 16px;
    line-height: 150%;
    color: #BF7506;
}

.navigation__link_bold {
    font-weight: bold;
}